.bodyHome{
    background-image:url('../assets/pi.png');
    /* background-color: #efe7cea2; */
    background-size:cover;
    
}
.pic{
    background-image: url('../assets/cha.jpg');
    width: 100%;
    height: 600px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fbf7f8;
    /* text-shadow: 1px 1px 1px rgb(135, 118, 118);  */
    margin-bottom: 6%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
} 
.pic p{
    width: 50%;
    font-size: 2.5em;
    font-weight: bolder;
} 
.btn{
    border-radius: 3px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1em;
    background-color: #32d8f27b;
    /* background-color: #f2325f93; */
    color: #f4f3f3;
    margin-bottom: 24%;
    width: 85px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.btn:hover{
    background-color: #32d8f2c2;
}
.pic>*{
    margin-left: 5%;
}
.explanation>*{
    margin-left: 5%;
    width: 40%;
    text-align: center;
    margin-left: 30%;
   
}
/* .img{
    background-image: url('../assets/sac.png');
    object-fit:cover
} */
*{
    font-family: 'Open Sans', sans-serif;
}
.imgexplain{
    display: flex;
}
#img1{
  background-image: url('../assets/img1.jpg');
}
#img2{
  background-image: url('../assets/img2.jpg');  
}
#img3{
   background-image: url('../assets/img3.jpg'); 
}
#img1,#img2,#img3{
    width: 20%;
    height: 200px;
    background-size:cover;
    border-radius: 20px;
    margin:5.7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgg:hover{
    transform: scale(1.1);
	transition: all 1s;
	
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(67, 60, 60);
    color: white;
    text-align: center;
    padding: 5%;
    text-decoration: none;
    list-style-type: none;
 }




