.pic{
    background-image: url('../assets/char.jpg');
    width: 100%;
    height: 600px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:#ffca0f; 
    text-shadow: 1px 1px 1px rgb(135, 118, 118); 
    
}  
.btn{
    border-radius: 3px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1em;
    background-color: #f23260;
    color: #f4f3f3;
    margin-bottom: 5%;
    width: 85px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.pic>*{
    margin-left: 5%;
}
.explanation>*{
    margin-left: 5%;
    width: 40%;
    text-align: center;
    margin-left: 30%;
   
}
/* .img{
    background-image: url('../assets/sac.png');
    object-fit:cover
} */
*{
    font-family: 'Open Sans', sans-serif;
}


